.App {
    background-color: black;
    height: 100vh;
    min-width: 1000px;
}

.list {
    width: 75% !important;
    margin: auto;
    font-size: 2em; 
    font-weight: bold; 
    text-align: center;
}